{% extends "base.html" %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/css/post.css"/>
{% endblock %}
{% block main_content %}
<div class="posts-container">
    {% if posts|length %}
        {% for post in posts %}
            <div class="post">
                <h2> <a href="/posts/{{ post.id }}">Title: {{ post.title }}</a></h2>
                <p class="post-date">{{ post.created.strftime('%Y %m %d') }}</p>
                <p>{{ post.content|truncate(1024) }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Звенящая пустота...</p>
    {% endif %}
</div>
{% endblock %}
